* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #E5E5E5;
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
}

.titulo{
  font-size: 2.5vw;
    padding: 15px;
    width: 30vw;
    margin: auto;
}

.logo{
  padding: 10px;
  margin: 10px;
}


.main {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-around;
}


.box {
  padding: 10px;
  margin: 0px 10px 0px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.msg h2{
  font-weight: 500;
margin-bottom: 3px;
}


.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 12px;
  margin-top: 10px;
  border-radius: 0.8em;
}

.btn:hover{
  background: black;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(89, 52, 255, 0.7);
  cursor: pointer;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 45vh;
}

footer{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #E5E5E5;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.autor{
  padding: 4px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #E5E5E5;
}